.read-only-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  .value-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    svg {
      opacity: 0.3;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      margin-left: 0.7rem;
      &:hover {
        opacity: 1;
      }
    }
    .value {
      font-weight: 600;
    }
  }
  .values-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
