.form-field.multi-select-form-field {
  width: 100%;
  position: relative;
  .wrapper {
    position: relative;
    .select-field {
      width: 100%;
      border: 2px solid var(--border-color);
      padding: 0.7rem;
      padding-right: 2.5rem;
      border-radius: 5px;
      outline: none;
      font-weight: 600;
      transition: all 0.2s ease-in-out;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      position: relative;
      min-height: 46.4833px;
      gap: 0.5rem;
      cursor: pointer;

      .selection-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        padding: 0.05rem 0.35rem;
        background: rgba(222, 227, 236, 0.27);
        .remove {
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: var(--primary-color);
          }
        }
      }

      .selection-input {
        border: none;
        outline: none;
        flex-grow: 1;
        padding: 0.2rem 0;
        padding-left: 0.5rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }

      &.null {
        color: rgba(0, 0, 0, 0.5);
      }
    }
    .open-option {
      position: absolute;
      color: black;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      z-index: 5;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        scale: 1.1;
      }
    }
  }
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
    padding: 0 0.5rem;

    .option {
      width: 100%;
      padding: 0 1rem;
      height: 3rem;
      min-height: 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      position: relative;
      font-weight: 600;
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
      }
      &.selected {
        // border: 1px solid var(--primary-color);
        background: rgba(255, 255, 255, 0.5);
      }

      &:hover {
        background: rgba(232, 232, 232, 0.5);
      }
    }
  }
  &.open {
    .select-field {
      border: 2px solid var(--primary-color);
      background: rgba(222, 227, 236, 0.27);

      .selection-input {
        background: transparent;
      }
    }
    .options {
      display: flex;
      padding: 0.5rem;
      border: 1px solid var(--border-color);
      .selected {
        // border: 1px solid var(--border-color);
        background: rgba(205, 205, 205, 0.5);
      }
    }
  }
}
