.drop-zone {
  .drop-zone-section {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    // margin: 4rem 0;

    .drop-zone-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .drop-zone {
        border-radius: 1rem;
        border: 3px dashed var(--normal-text-color);
        width: 30rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transition: all 0.5s ease-in-out;
        position: relative;

        .drag-icon {
          width: 6rem;
          aspect-ratio: 1/1;
          transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        p {
          text-align: center;
          font-size: 1.2rem;
          letter-spacing: 1px;
          strong {
            color: var(--primary-color);
          }
        }

        .error {
          color: red;
          position: absolute;
          left: 50%;
          top: 85%;
          transform: translateX(-50%);
        }

        .text {
          max-width: 80%;
        }

        &:hover {
          border: 3px dashed var(--primary-color);
          .drag-icon {
            transform: translateY(-1rem);
          }
        }

        &.active {
          border: 3px dashed var(--primary-color);
          .drag-icon {
            animation: pulse linear infinite 2s;
          }
        }

        @keyframes pulse {
          0% {
            transform: translateY(0);
          }

          50% {
            transform: translateY(-1rem);
          }

          100% {
            transform: translateY(0);
          }
        }
      }
    }

    .upload-title {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      color: var(--primary-color);
      text-align: center;
      font-weight: 700;
    }
  }
}
