@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@import "../../../node_modules/@minteeble/ui-components/dist/css/style.css";

.kanit {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  line-height: 1.1rem;
  font-weight: 500;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0.06em;
}

.spaced {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.255em;
  text-transform: uppercase;
}
