.form-field.text-area-form-field {
  width: 100%;
  textarea {
    width: 100%;
    border: 2px solid var(--border-color);
    padding: 0.7rem;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out, height 0s linear;
    min-height: 8rem;
    &:focus {
      border: 2px solid var(--primary-color);
      background: #dee3ec31;
    }
  }
}
