.action-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  max-width: 90%;
  border: 2px solid var(--border-color);
  border-radius: 1rem;
  padding: 0.5rem;
  background: var(--primary-bg);
  box-shadow: 0 0 0 500vmax rgb(0 0 0 / 0.5);

  .action-popup-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    color: var(--normal-text-color);

    .title {
      text-transform: capitalize;
      max-width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 1px;
      opacity: 0.8;
    }

    .close {
      font-size: 1.5rem;
      cursor: pointer;
      opacity: 0.5;

      transition: all 0.2s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }

  .action-popup-message {
    margin: 0.5rem 0;
    text-align: center;
    padding: 0.5rem 1rem;
  }

  .action-popup-buttons {
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  &.closed {
    display: none;
  }
}
