.sidebar {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;

  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 70%;
  min-width: 10rem;
  max-width: 16rem;
  height: 100vh;

  border-right: 1px solid var(--border-color);

  .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1.5rem;

    h1,
    h2 {
      text-align: center;
    }

    .front-item {
      padding-bottom: 2rem;
    }

    .side-sections {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 1rem;
      padding: 1.5rem;

      .side-section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

        .side-section-header {
          margin-bottom: 0.5rem;
          text-transform: uppercase;
          letter-spacing: 0.3rem;

          .side-section-title {
            font-size: 1.1rem;
          }
        }

        .side-item {
          margin-left: 0.7rem;
          cursor: pointer;
          // margin: 0.7rem 0.6rem;
          padding: 0.4rem 1rem;
          border-radius: 0.4rem;
          &:hover {
            background-color: var(--primary-color);
            color: white;
          }
        }
      }
    }
  }
}
