// @import "../../../../../node_modules/react-responsive-combo-box/dist/index.css";

.select-wrapper {
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  position: relative;

  .input-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select-label {
      // margin-bottom: 0.3rem;
      // font-size: 0.8rem;
      // color: var(--light-text-color);

      margin-bottom: 0.5rem;
      margin-left: 0.4rem;
      font-size: 1.2rem;
      color: var(--normal-text-color);
    }
    .error {
      @extend .montserrat;
      margin-bottom: 0.5rem;
      margin-right: 0.4rem;
      color: red;
    }
  }

  .select {
    position: relative;

    .select-icon {
      right: 0.5rem;
      top: 0.5rem;
      position: absolute;
      pointer-events: none;
      color: var(--dark-border-color);
      opacity: 1;
    }

    &.disabled {
      .select-icon {
        opacity: 0;
      }
    }

    > div {
      height: unset;
      width: unset;

      > input {
        // padding: 0.5rem;
        // border: 0px solid black;
        // background-color: var(--secondary-bg);
        // border-bottom: 0.2rem solid var(--dark-border-color);
        // transition: all 0.3s ease-in-out;
        // border-radius: 5px;

        @extend .montserrat;
        padding: 0.8rem 0.4rem;
        border: none;
        border-bottom: 2px solid var(--border-color);
        background-color: var(--secondary-bg);
        transition: all 0.3s ease-in-out;
        border-radius: 0.5rem 0.5rem 0 0;
        color: var(--normal-text-color);
        font-size: 1rem;

        &::placeholder {
          color: var(--normal-text-color);
        }

        &:focus {
          outline: none;
          padding-left: 1.2rem;
          border-bottom: 2px solid var(--primary-color);
        }

        // &:focus {
        //   outline: none;
        //   border-bottom-color: var(--primary-color);
        // }
      }

      li {
        @extend .montserrat;
        color: var(--normal-text-color);
      }
    }

    &.disabled {
      input {
        background-color: transparent;
        border-bottom: 2px solid transparent;

        &:focus {
          outline: none;
          padding-left: 0.4rem;
          border-bottom: 2px solid transparent;
        }
      }
    }
  }
}
