// @import "../../../../../node_modules/react-responsive-combo-box/dist/index.css";

.select {
  // background-color: red;

  > div {
    // background-color: red;
    height: unset;

    > input {
      padding: 0.5rem;
      border: 0px solid black;
      background-color: var(--secondary-bg);
      border-bottom: 0.2rem solid var(--dark-border-color);
      transition: all 0.3s ease-in-out;
      border-radius: 5px;

      &:focus {
        outline: none;
        border-bottom-color: var(--primary-color);
      }
    }
  }
}
