// Shared SCSS

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

.shadow-1 {
  -webkit-box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.36);
  box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.15);
}
