.key-value-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .keys,
  .values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    font-size: 1.4rem;
    width: 50%;
    max-width: 50%;
  }

  .keys {
    align-items: flex-start;
  }

  .values {
    align-items: flex-end;
  }
}
