.page-card {
  background-color: var(--primary-bg);
  padding: 2rem;
  display: flex;
  border-radius: 0.7rem;

  display: flex;
  flex-direction: column;

  &.inline {
    display: inline-flex;
  }
}
