.form-field.radio-buttons-form-field {
  width: 100%;
  fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    .radio-wrapper {
      width: calc(50% - 0.5rem);

      input {
        border: 2px solid var(--border-color);
        padding: 0.7rem;
        border-radius: 5px;
        outline: none;
        font-weight: 600;
        transition: all 0.2s ease-in-out;

        &:focus {
          border: 2px solid var(--primary-color);
          background: #dee3ec31;
        }
      }
    }
  }
}
